Tools/x64/InternationalSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Wizard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Global">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CustomStatement" type="xs:string" />
              <xs:element name="Initialization" type="xs:string" />
              <xs:element name="Validation" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Pane">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="Condition" type="xs:string" />
                <xs:element name="Initialization" type="xs:string" />
                <xs:element name="Validation" type="xs:string" />
                <xs:element name="Body" type="xs:string" />
                <xs:element name="ButtonNext">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Label" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>